.pose {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width: 100vh;
  text-align: left;

}

.num {
  background-color: red;
}

.name {
/*  background-color: blue; */
  float: left;
  width: 50vh;
  min-height: 25vh;
}

.time {
/*  background-color: green; */
  float: right;
  width: 50vh;
  min-height: 25vh;
}

.pose-img {
  height: 10vh;
  width: 10vh;
}

.result {
  font-size: 2.5vh
}
